{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Blog projekt django</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<style>


</style>

</head>


<body>

<div class="container" id="wrapper">

    <div class="row"><!--  PASEK GORA -->
        <div class="topbar">
            <div class=" logo pull-left">
                <h1><a href="{% url 'article:articles' %}"><img src="{% static 'img/blogging.jpg' %}" width=400 ></a></h1>

            </div>
            <div class="topbar-links pull-right ">

            <b>Witaj {{user.username}}, </b><a href="{% url 'user_logout' %}">Wyloguj</a>
            </div>

        </div>

    </div>

    <div class="row"><!-- Menu -->
        <div id="mainmenu" class="navbar navbar-inverse">
                <div class="navbar-inner">

                    <div>
                        <ul class="nav">

                            <li><a href="{% url 'blogs:blogs' %}">Blogi</a></li>
                            <li><a href="{% url 'article:articles' %}">Artykuły</a></li>
                            <li><a href="{% url 'article:post_new' %}">Dodaj post</a></li>
                                <li><a href="{% url 'blogs:post_new' %}">Dodaj blog</a></li>



                        </ul>
                    </div>
                </div>
        </div>
    </div>

    <div class="row"><!-- Glowna czesc -->

        <div class="span9"><!-- Lewa kolumna -->
            <div  class="row latest"><!-- Najnowsze art -->
                {% block featured %}
                {%if allarticles%}
                <h2 class="darkblue" > Najnowsze artykuły </h2>
                {%endif%}
                {% for article in allarticles %}
        <div class="span3 latest-article" id="first-art">
                    <div class="latest-article-wrap">
                        {% if article.image %}
                        <a href="#"><img src="{{article.image.url  }}" class="img-rounded"></a>
                        {% endif %}
                        <p>{{ article.content | truncatewords:15 }}</p>
                        <a href="/article/{{ article.id }}/   " class="label label-info pull-right">Więcej</a>
                    </div>
        </div>
                {% endfor  %}
                {% endblock %}
            </div ><!--  Koniec najnowszych art -->

            <div class="row latest"><!-- Artykuly lista -->

                {% block article %}
                {% endblock %}

            </div><!--  Koniec listy art -->

        </div><!-- Koniec lewej kolumny -->



        <div class="span3"><!-- Prawa kolumna -->

        </div>


    </div>


</div>

</body>


</html>